@model Qualify.Models.ToolList

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ToolList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LastCheckDate" class="control-label"></label>
                <input asp-for="LastCheckDate" class="form-control" />
                <span asp-validation-for="LastCheckDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToolTypeId" class="control-label"></label>
                <select asp-for="ToolTypeId" class ="form-control" asp-items="ViewBag.ToolTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ToolPropId" class="control-label"></label>
                <select asp-for="ToolPropId" class ="form-control" asp-items="ViewBag.ToolPropId"></select>
            </div>
            <div class="form-group">
                <label asp-for="WorkerId" class="control-label"></label>
                <select asp-for="WorkerId" class ="form-control" asp-items="ViewBag.WorkerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ToolUtilized" class="control-label"></label>
                <input asp-for="ToolUtilized" class="form-control" />
                <span asp-validation-for="ToolUtilized" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
