04_program/Frontend_GULP/node_modules/
04_program/Frontend_GULP/libraries/
04_program/Frontend_GULP/bower_components/
04_program/Frontend_GULP/.vscode/
04_program/Frontend_GULP/package-lock.json
04_program/Qualify/Qualify/bin/
04_program/Qualify/Qualify/obj/
04_program/Qualify/.vs/
04_program/NewFront/node_modules/
04_program/NewFront/.vscode/
04_program/NewFront/package-lock.json
04_program/NewFront/libraries/
04_program/NewFront/bower_components/
