#main {
  height: 100%;
  min-width: 600px;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: stretch;
}



#content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 400px;
}

.actionbar {
  //
}

.contentfield {
  //
}

@import "_formcontrol";