/************ MAIN STYLES *************/
#wrapper {
  margin: 0 auto;
  // text-align: center;

  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-width: 600px;
  height: 100%;
}

@import "_graphics";

@import "_header";

@import "_mainmenu";

@import "_maincontent";

@import "_footer";

@import "_breadcrumbs";