/************ MAIN STYLES *************/
#wrapper {
  margin: 0 auto;

  @media screen and (min-width: 769px) and (max-width: 1200px) {
    width: 740px;
  }

  @media screen and (min-width: 1201px) and (max-width: 1600px) {
    width: 960px;
  }

  @media screen and (min-width: 1601px) and (max-width: 1919px) {
    width: 1420px;
  }

  @media screen and (min-width: 1920px) {
    width: 1800px;
  }
}


@import "_graphics";

@import "_header";

@import "_mainmenu";

@import "_breadcrumbs";

@import "_maincontent";

@import "_footer";