doctype html
html(lang="en")
	include _head
	body
		#wrapper
			#working-field.container
				header#topper
					#heading
						include _logininfo
						include _impast
						include _manipulations
					#breadcrumbs
						.metabox
							a(href="#").metabox-main #[i(aria-hidden="true").fa.fa-home] Home
							a(href="##").metabox-main Claims
							a(href="###").metabox-main MiTip
							a(href="####").metabox-main R2778
				main#main
					aside#mainmenu
						include _mainmenu
					section#content
						
						table.suvestine
							tr(data-href="#")
								th.numb #
								th.clnt Client
								th.titl Title
								th.desc Description
								th.regd Registered
								th.clos Closed
							tr(data-href="#")
								td.numb 1
								td.clnt MiTip
								td.titl Cylinders of tailgate are leaking
								td.desc Place a full description of a particular claim here to show the text within different types of containers
								td.regd 2019-10-15
								td.clos 2019-10-24
							tr(data-href="#")
								td.numb 1
								td.clnt MiTip
								td.titl Cylinders of tailgate are leaking
								td.desc Place a full description of a particular
								td.regd 2019-10-15
								td.clos 2019-10-24
							tr(data-href="#")
								td.numb 1
								td.clnt MiTip
								td.titl Cylinders of tailgate are leaking
								td.desc Place a full description of a particular
								td.regd 2019-10-15
								td.clos 2019-10-24

				footer#footer status bar
		script(src="js/scripts.js")