doctype html
html(lang="en")
	include _head
	body
		#wrapper
			#working-field.container.fluid
				header#topper
					#heading
						include _logininfo
						include _impast
						include _manipulations
					#breadcrumbs breadcrumbs
				main#main
					aside#mainmenu
						include _mainmenu
					section#content content
				footer#footer status bar
		script(src="js/scripts.js")