doctype html
html(lang="en")
	include _head
	body
		#wrapper
			#working-field.container
				header#topper
					#heading
						include _logininfo
						include _impast
						include _manipulations
					#breadcrumbs
						.metabox
							a(href="#").metabox-main #[i(aria-hidden="true").fa.fa-home] Home
							a(href="##").metabox-main Claims
							a(href="###").metabox-main MiTip
							a(href="####").metabox-main R2778
				main#main
					aside#mainmenu
						include _mainmenu
					section#content
						.flex-scroll-container
							.content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
							//- .content-item adada
				footer#footer status bar
		script(src="js/scripts.js")