.logininfo {
  //flex-basis: 3em;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.avatar {
  //outline: $test;
  width: $basic * 3;
  height: $basic * 3;
  //flex-basis: 3em;
  flex-grow: 0;
}
.person {
  flex-basis: $basic * 5;
  flex-grow: 1;
}
.person-name, .person-position {
  padding: 0 $basic * 0.5;
  outline: $test;
  display: block;
  height: $basic * 1.5;
  line-height: $basic * 1.5;
  color: $color-light;
  font-size: $basic * 1.5;
}
.person-position {
  font-size: $basic;
  color: $color-bg;
}