.alert {
    position: relative;
    padding: $basic $basic * 1.5;
    margin: 0 $basic * 2;
    margin-bottom: $basic;
    border: 1px solid transparent;
    border-radius: $basic / 4;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-dismissible {
    padding-right: 4rem;
}
.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $basic / 2 $basic;
    color: inherit;
    font-size: $basic * 2;
    background-color: transparent;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}

.fade.show {
    opacity: 1;
}