@using Qualify.Models
@model Claim
@{
    ViewData["Title"] = "Создать рекламацию...";

}
@if (ViewBag.Success == true)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Всё в порядке.</strong> Вы успешно добавили рекламацию.<br />
        Нажмите <a asp-controller="Claim" asp-action="ViewClaim" asp-route-id="@ViewBag.ClaimId">здесь</a>, чтобы просмотреть введенную информацию.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<form method="post" asp-action="AddClaim">

    <label asp-for="ClientID" class="form-label">Клиент</label>
    <select asp-for="ClientID" class="form-control" asp-items="ViewBag.Clients">
        <option value="">---Выберите имя клиента---</option>
    </select>

    <label asp-for="Title" class="form-label">Заголовок</label>
    <input asp-for="Title" class="form-control" />

    <label asp-for="Description" class="form-label">Описание</label>
    <textarea asp-for="Description" class="form-control"></textarea>

    <label asp-for="DateStart" class="form-label">Дата регистрации</label>
    <input type="date" asp-for="DateStart" class="form-control" />

    <input type="submit" value="Подать рекламацию" class="form-button button btn-success" />


</form>