input {
  display: block;
  font-size: $basic;
  vertical-align: top;
  margin: $basic / 2;
  background-color: rgba(255, 255, 255, .2);
  color: $color-main;
  padding: 0 $basic;
  border-radius: $basic / 4;
  border: 1px solid $color-bgdark;
  line-height: $basic * 2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
  transition: box-shadow .3s;
  transition: border .3s;
  transition: background-color .3s;

  &:focus {
    border: 1px solid #80bdff;
    outline: 0;
    box-shadow: 0 $basic/4 $basic/4 rgba(0, 123, 255, 0.25);
    background-color: rgba(255, 255, 255, .5);
  }
}

input[type=submit] {
  display: inline-block;
  background-color: rgb(31, 57, 72);
  color: $color-bg;
  box-shadow: 0 4px 4px rgba(31, 57, 72, .2);
  border-color: $color-dark;
  transition: background-color .2s;

  &:hover {
    background-color: $color-light;
    color: $color-bg;
    box-shadow: 0 4px 6px rgba(18, 126, 155, .4);
  }

  &:active {
    background-color: darken($color-light, 10%);
    color: $color-bg;
    box-shadow: 0 2px 6px rgba(18, 126, 155, .4);
  }
}

.inline {
  display: inline-block;
}

.fromleft {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
}

.fromright {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}

.table {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 $basic/2;
}

.table-content {
  height: calc(100vh - 242px);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.row,
.row-headings {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: $basic * 3;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  & p {
    text-indent: 0;
  }

  & span {
    font-size: $basic;
    font-weight: 100;
  }
}

.row:nth-child(odd) {
  background: rgba(0, 0, 0, .1);
}

.row-headings .cell {
  text-align: center;

  & span {
    font-weight: bold;
    font-size: $basic;
  }
}

.cell {
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: $basic * 3;

  & span {
    display: block;
    line-height: $basic * 2;
    padding: $basic / 2;
  }
}

.id {
  text-align: right;
  flex-basis: $basic * 3;
}

.client {
  text-align: left;
  flex-basis: $basic * 6;
}

.title,
.caction-title,
.cexp-type,
.cdocs-name {
  text-align: left;
  flex-basis: $basic * 10;
  flex-shrink: 0;
  flex-grow: 1;
}

.desc,
.caction-desc,
.cexp-desc,
.cdocs-desc {
  text-align: left;
  flex-basis: $basic * 18;
  flex-shrink: 0;
  flex-grow: 5;
}

.start,
.prevcheck,
.nextcheck,
.finish,
.caction-startdate,
.caction-finishdate,
.cexp-date,
.cdocs-date {
  flex-basis: $basic * 10;
}

.toolt {
  text-align: left;
  flex-basis: $basic * 6;
}

.tdesc {
  text-align: left;
  flex-basis: $basic * 18;
  flex-shrink: 0;
  flex-grow: 5;
}

.owner,
.caction-responsible,
.cexp-owner {
  text-align: left;
  flex-basis: $basic * 12;
}

.cexp-sum {
  text-align: right;
  flex-basis: $basic * 8;
}

.toolstatus,
.caction-status,
.cdocs-status,
.cdocs-type {
  // text-align: left;
  flex-basis: $basic * 10;
}

.alert {
    position: relative;
    padding: $basic $basic * 1.5;
    margin: $basic $basic * 2;
    margin-bottom: $basic;
    border: 1px solid transparent;
    border-radius: $basic / 4;
    font-size: $basic;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-dismissible {
    padding-right: 4rem;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $basic / 2 $basic;
    color: inherit;
    font-size: $basic * 2;
    background-color: transparent;

    & span {
        font-size: $basic * 2;
    }
}

.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}

.fade.show {
    opacity: 1;
}


// the next code stolen from bootstrap and still not in use
.form-button {
  display: block;
  padding: $basic/2 $basic;
  margin: $basic $basic * 2;
  font-size: $basic;
  line-height: $basic * 1.5;
  color: #495057;
}

.form-heading {
  display: block;
  padding: $basic/2 $basic;
  margin: 0 $basic * 2;
  font-size: $basic * 2;
  line-height: $basic * 3;
  color: #495057;
}

.form-label {
  display: block;
  padding: $basic/2 $basic;
  margin: 0 $basic * 2;
  font-size: $basic;
  line-height: $basic * 1.5;
  color: #495057;
}

.form-control {
  display: block;
  resize: none;
  width: calc(100% - 84px);
  padding: $basic/2 $basic;
  margin: 0 $basic * 2;
  font-size: $basic;
  line-height: $basic * 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: $basic / 4;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}