.suvestine {
    & th {
        color: $color-dark;
        //text-align: left;
        padding: $basic / 2 $basic;
        font-size: $basic * 1.25;
    }

    & tr:nth-child(even) {
        background-color: rgba(255, 255, 255, .3);

        & td {
            padding: $basic / 2 $basic;
            // &:nth-child(even) {
            //   background-color: rgba(100, 100, 100, 0.1);
            // }
        }
    }

    & tr:nth-child(odd) {
        background-color: rgba(255, 255, 255, .1);

        & td {
            padding: $basic / 2 $basic;
            // &:nth-child(even) {
            //   background-color: rgba(200, 200, 200, 0.2);
            // }
        }
    }

    & tr:first-child {
        background: none;
    }

    margin: $basic;
    //border-collapse: collapse;
}

.numb {
    width: 5%;
}

.clnt {
    width: 8%;
}

.titl {
    width: 21%;
}

.desc {
    width: 42%;
}

.regd {
    width: 12%;
}

.clos {
    width: 12%;
}