nav#breadcrumbs
  .metabox
    a(href="#").metabox-main #[i(aria-hidden="true").fa.fa-home] Home
    a(href="##").metabox-main Claims
    a(href="###").metabox-main MiTip
    a(href="####").metabox-main R2778