section#content
  //- include _breadcrumbs
  //- .actionbar
  //-   .actionbox
  //-     a(href="#").button.btn-primary Add
  //-   .actionbox
  //-     form
  //-       input(type="search" placeholder="Search...").inline.fromleft
  //-       input(type="submit" value="Find").fromright
  
  //- .contentfield
  //-   .table
  //-     .row-headings
  //-       .cell.id
  //-         span #
  //-       .cell.client
  //-         span Client
  //-       .cell.title
  //-         span Title
  //-       .cell.desc
  //-         span Description
  //-       .cell.start
  //-         span Started
  //-       .cell.finish
  //-         span Finished
  //-     .table-content
  //-       a(href="#").row
  //-         .cell.id
  //-           span 12
  //-         .cell.client
  //-           span MiTip
  //-         .cell.title
  //-           p Cylinders leaking
  //-         .cell.desc
  //-           p Some description to represent the longest string in the table
  //-         .cell.start
  //-           span 2020-06-06
  //-         .cell.finish
  //-           span 2020-06-12
  //-       a(href="#").row
  //-         .cell.id
  //-           span 13
  //-         .cell.client
  //-           span MiTip
  //-         .cell.title
  //-           p Someone wants to express everything within one field
  //-         .cell.desc
  //-           p Some description to represent the longest string in the table
  //-         .cell.start
  //-           span 2020-06-06
  //-         .cell.finish
  //-           span 2020-06-12
  //-       a(href="#").row
  //-         .cell.id
  //-           span 14
  //-         .cell.client
  //-           span MiTip
  //-         .cell.title
  //-           p Cylinde
  //-         .cell.desc
  //-           p Some t the longest string in the table
  //-         .cell.start
  //-           span 2020-06-06
  //-         .cell.finish
  //-           span 2020-06-12
  //-       a(href="#").row
  //-         .cell.id
  //-           span 14
  //-         .cell.client
  //-           span MiTip
  //-         .cell.title
  //-           p Cylinde
  //-         .cell.desc
  //-           p Some t the longest string in the table
  //-         .cell.start
  //-           span 2020-06-06
  //-         .cell.finish
  //-           span 2020-06-12
  //-       a(href="#").row
  //-         .cell.id
  //-           span 14
  //-         .cell.client
  //-           span MiTip
  //-         .cell.title
  //-           p Cylinde
  //-         .cell.desc
  //-           p Some t the longest string in the table
  //-         .cell.start
  //-           span 2020-06-06
  //-         .cell.finish
  //-           span 2020-06-12
  //-       a(href="#").row
  //-         .cell.id
  //-           span 14
  //-         .cell.client
  //-           span MiTip
  //-         .cell.title
  //-           p Cylinde
  //-         .cell.desc
  //-           p Some t the longest string in the table
  //-         .cell.start
  //-           span 2020-06-06
  //-         .cell.finish
  //-           span 2020-06-12
  //-       a(href="#").row
  //-         .cell.id
  //-           span 14
  //-         .cell.client
  //-           span MiTip
  //-         .cell.title
  //-           p Cylinde
  //-         .cell.desc
  //-           p Some t the longest string in the table
  //-         .cell.start
  //-           span 2020-06-06
  //-         .cell.finish
  //-           span 2020-06-12
  //-       a(href="#").row
  //-         .cell.id
  //-           span 14
  //-         .cell.client
  //-           span MiTip
  //-         .cell.title
  //-           p Cylinde
  //-         .cell.desc
  //-           p Some t the longest string in the table
  //-         .cell.start
  //-           span 2020-06-06
  //-         .cell.finish
  //-           span 2020-06-12
  //-       a(href="#").row
  //-         .cell.id
  //-           span 14
  //-         .cell.client
  //-           span MiTip
  //-         .cell.title
  //-           p Cylinde
  //-         .cell.desc
  //-           p Some t the longest string in the table
  //-         .cell.start
  //-           span 2020-06-06
  //-         .cell.finish
  //-           span 2020-06-12
  //-       a(href="#").row
  //-         .cell.id
  //-           span 14
  //-         .cell.client
  //-           span MiTip
  //-         .cell.title
  //-           p Cylinde
  //-         .cell.desc
  //-           p Some t the longest string in the table
  //-         .cell.start
  //-           span 2020-06-06
  //-         .cell.finish
  //-           span 2020-06-12
  //-       a(href="#").row
  //-         .cell.id
  //-           span 14
  //-         .cell.client
  //-           span MiTip
  //-         .cell.title
  //-           p Cylinde
  //-         .cell.desc
  //-           p Some t the longest string in the table
  //-         .cell.start
  //-           span 2020-06-06
  //-         .cell.finish
  //-           span 2020-06-12
  //-       a(href="#").row
  //-         .cell.id
  //-           span 14
  //-         .cell.client
  //-           span MiTip
  //-         .cell.title
  //-           p Cylinde
  //-         .cell.desc
  //-           p Some t the longest string in the table
  //-         .cell.start
  //-           span 2020-06-06
  //-         .cell.finish
  //-           span 2020-06-12
  
  //- .contentfield
  //-   .table
  //-     .row-headings
  //-       .cell.id
  //-         span #
  //-       .cell.toolt
  //-         span Tool
  //-       .cell.tdesc
  //-         span Description
  //-       .cell.owner
  //-         span Owner
  //-       .cell.prevcheck
  //-         span Last check
  //-       .cell.nextcheck
  //-         span Next check
  //-       .cell.toolstatus
  //-           span Status
  //-     .table-content
  //-       a(href="#").row
  //-         .cell.id
  //-           span 1
  //-         .cell.toolt
  //-           span Ruler
  //-         .cell.tdesc
  //-           p 0.5 m
  //-         .cell.owner
  //-           span Egidijus Buivaidis
  //-         .cell.prevcheck
  //-           span 2020-02-03
  //-         .cell.nextcheck
  //-           span 2021-02-02
  //-         .cell.toolstatus
  //-           span On hands
  //-       a(href="#").row
  //-         .cell.id
  //-           span 1
  //-         .cell.toolt
  //-           span Ruler
  //-         .cell.tdesc
  //-           p 0.5 m
  //-         .cell.owner
  //-           span Egidijus Buivaidis
  //-         .cell.prevcheck
  //-           span 2020-02-03
  //-         .cell.nextcheck
  //-           span 2021-02-02
  //-         .cell.toolstatus
  //-           span On hands
  //-       a(href="#").row
  //-         .cell.id
  //-           span 1
  //-         .cell.toolt
  //-           span Ruler
  //-         .cell.tdesc
  //-           p 0.5 m
  //-         .cell.owner
  //-           span Egidijus Buivaidis
  //-         .cell.prevcheck
  //-           span 2020-02-03
  //-         .cell.nextcheck
  //-           span 2021-02-02
  //-         .cell.toolstatus
  //-           span On hands
  //-       a(href="#").row
  //-         .cell.id
  //-           span 1
  //-         .cell.toolt
  //-           span Ruler
  //-         .cell.tdesc
  //-           p 0.5 m
  //-         .cell.owner
  //-           span Egidijus Buivaidis
  //-         .cell.prevcheck
  //-           span 2020-02-03
  //-         .cell.nextcheck
  //-           span 2021-02-02
  //-         .cell.toolstatus
  //-           span On hands
  //-       a(href="#").row
  //-         .cell.id
  //-           span 1
  //-         .cell.toolt
  //-           span Ruler
  //-         .cell.tdesc
  //-           p 0.5 m
  //-         .cell.owner
  //-           span Egidijus Buivaidis
  //-         .cell.prevcheck
  //-           span 2020-02-03
  //-         .cell.nextcheck
  //-           span 2021-02-02
  //-         .cell.toolstatus
  //-           span On hands
  
  //- .contentfield
  //-   .claim-entity
  //-     .claim-body
  //-       h2.claim-heading Vaziuojant viesioju keli priekaba apsiverte
  //-       hr.divider
  //-       .claim-objective
  //-         .claim-img
  //-           img(src="/img/trailer.jpg").claimimg
  //-         .claim-details
  //-           .details
  //-             span.claim-client MiTip, DK
  //-           .details
  //-             span.claim-datestart 2020-01-01
  //-           .details
  //-             span.claim-datefinish Not solved yet
  //-           .details
  //-             span.claim-totalexpences 19 256,35 €
  //-       .claim-description
  //-         p Cia eina kalba apie tam tikros reklamacijos, tiksliai apibriezant kas blogai.
      
  //-     .claim-actions
  //-       h4 Claim actions
  //-       hr.divider
  //-       .table
  //-         .row-headings
  //-           .cell.id
  //-             span #
  //-           .cell.caction-title
  //-             span Action
  //-           .cell.caction-desc
  //-             span Description
  //-           .cell.caction-responsible
  //-             span Responsible
  //-           .cell.caction-startdate
  //-             span Action started
  //-           .cell.caction-finishdate
  //-             span Action finished
  //-           .cell.caction-status
  //-               span Status
  //-         a(href="#").row
  //-           .cell.id
  //-             span 1
  //-           .cell.caction-title
  //-             span Ruler
  //-           .cell.caction-desc
  //-             p 0.5 m
  //-           .cell.caction-responsible
  //-             span Egidijus Buivaidis
  //-           .cell.caction-startdate
  //-             span 2020-02-03
  //-           .cell.caction-finishdate
  //-             span 2021-02-02
  //-           .cell.caction-status
  //-             span On hands
  //-         a(href="#").row
  //-           .cell.id
  //-             span 1
  //-           .cell.caction-title
  //-             span Ruler
  //-           .cell.caction-desc
  //-             p 0.5 m
  //-           .cell.caction-responsible
  //-             span Egidijus Buivaidis
  //-           .cell.caction-startdate
  //-             span 2020-02-03
  //-           .cell.caction-finishdate
  //-             span 2021-02-02
  //-           .cell.caction-status
  //-             span On hands


  //-       .actionbar            
  //-         .actionbox
  //-           a(href="#").button.btn-primary Add
      
  //-     .claim-expences
  //-       h4 Claim expences
  //-       hr.divider
  //-       .table
  //-         .row-headings
  //-           .cell.id
  //-             span #
  //-           .cell.cexp-type
  //-             span Type
  //-           .cell.cexp-desc
  //-             span Description
  //-           .cell.cexp-sum
  //-             span Sum
  //-           .cell.cexp-date
  //-             span Expence date
  //-           .cell.cexp-owner
  //-               span Owner
  //-         a(href="#").row
  //-           .cell.id
  //-             span 1
  //-           .cell.cexp-type
  //-             span Client expences
  //-           .cell.cexp-desc
  //-             p Client performed some painting actions by himself
  //-           .cell.cexp-sum
  //-             span 2 987,00 €
  //-           .cell.cexp-date
  //-             span 2020-02-03
  //-           .cell.cexp-owner
  //-             span Painting bar
  //-         a(href="#").row
  //-           .cell.id
  //-             span 2
  //-           .cell.cexp-type
  //-             span Item self-cost
  //-           .cell.cexp-desc
  //-             p Product fixing by welding new holders
  //-           .cell.cexp-sum
  //-             span 15 248,35 €
  //-           .cell.cexp-date
  //-             span 2020-02-03
  //-           .cell.cexp-owner
  //-             span Welding bar

  //-       .actionbar
  //-         .actionbox
  //-           a(href="#").button.btn-primary Add
      
  //-     .claim-documents
  //-       h4 Claim documents
  //-       hr.divider
  //-       .table
  //-         .row-headings
  //-           .cell.id
  //-             span #
  //-           .cell.cdocs-name
  //-             span Document name
  //-           .cell.cdocs-type
  //-             span Document type
  //-           .cell.cdocs-desc
  //-             span Description
  //-           .cell.cdocs-date
  //-             span Add date
  //-           .cell.cdocs-status
  //-             span Status
  //-         a(href="#").row
  //-           .cell.id
  //-             span 1
  //-           .cell.cdocs-name
  //-             span F0-2020-06-05/001
  //-           .cell.cdocs-type
  //-             span Invoice
  //-           .cell.cdocs-desc
  //-             p Transportation invoice
  //-           .cell.cdocs-date
  //-             span 2020-02-03
  //-           .cell.cdocs-status
  //-             span Active
  //-         a(href="#").row
  //-           .cell.id
  //-             span 2
  //-           .cell.cdocs-name
  //-             span 4D-unconformity-report_005
  //-           .cell.cdocs-type
  //-             span Report
  //-           .cell.cdocs-desc
  //-             p Unconformity report
  //-           .cell.cdocs-date
  //-             span 2020-02-03
  //-           .cell.cdocs-status
  //-             span Active

  //-       .actionbar
  //-         .actionbox
  //-           a(href="#").button.btn-primary Add
