link(rel="stylesheet" href="css/styles.css")
//- link(rel="stylesheet" href="css/svg.css")

//- Connect Google fonts
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+Infant:400,700|Roboto:400,400i,700,700i|Ubuntu+Mono&amp;subset=cyrillic-ext,latin-ext")

//- Connect FontAwesome 4.7
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")