ul#menu-main
  li.menu-item
    a(href="#").menu-link Claims
  li.menu-item
    a(href="#").menu-link Warehouses
  li.menu-item
    a(href="#").menu-link Measuring tools
  li.menu-item
    a(href="#").menu-link Certificates
  li.menu-item
    a(href="#").menu-link Accounting
  li.menu-item
    a(href="#").menu-link Tasks
.menu-impast