<aside id="mainmenu">
    <ul id="menu-main">
        <li class="menu-item">
            <a class="menu-link" href="claim">Claims</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#">Warehouses</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="tools">Measuring tools</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#">Certificates</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#">Accounting</a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#">Tasks</a>
        </li>
    </ul>
    <div class="menu-impast"></div>
</aside>