<aside id="aside">
    <ul id="menu-main">
        <li class="menu-item"><a class="menu-link" asp-controller="Claim" asp-action="Index">Рекламации</a></li>
        <li class="menu-item"><a class="menu-link" href="#">Склады</a></li>
        <li class="menu-item"><a class="menu-link" asp-controller="Tool" asp-action="Index">Метрология</a></li>
        <li class="menu-item"><a class="menu-link" href="#">Сертификаты</a></li>
        <li class="menu-item"><a class="menu-link" href="#">Бухгалтерия</a></li>
        <li class="menu-item"><a class="menu-link" href="#">Задания</a></li>
    </ul>
    <div class="menu-impast"></div>
</aside>