@using Qualify.Service
<header id="header">
    <div id="heading">
        <div class="logininfo">
            <div class="avatar"></div>
            <div class="person">
                <div class="person-name">John Doe</div>
                <div class="person-position">Menedrysh po prodazhah</div>
            </div>
        </div>
        <div class="impast">
            <h1 class="mainheading">@ViewData["Title"]</h1>
        </div>
        <a class="manipulations" href="#"></a>
    </div>
</header>