<header id="topper">
    <div id="heading">
        <div class="logininfo">
            <div class="avatar"></div>
            <div class="person">
                <div class="person-name">John Doe</div>
                <div class="person-position">Menedrysh po prodazhah</div>
            </div>
        </div>
        <div class="impast">
        </div>
        <a class="manipulations" href="#"></a>
    </div>
    <div id="breadcrumbs">
        <div class="metabox">
            <a class="metabox-main" href="#">
                <i class="fa fa-home" aria-hidden="true">
                </i> Home
            </a>
            <a class="metabox-main" href="##">Claims</a>
            <a class="metabox-main" href="###">MiTip</a>
            <a class="metabox-main" href="####">R2778</a>
        </div>
    </div>
</header>