/********** STYLE RESET **********/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

/********** VARIABLES AND MIXINS ***********/
/********* COMMON STYLES *********/
a, p, h1, h2, h3, h4, h5, h6, blockquote {
  font-size: 14px; }

html {
  font-size: 14px; }

body {
  background: #aaa url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAMAAABL52QCAAAABlBMVEXCw8Tp6uwFw7MwAAAAF0lEQVR4AWNgYAQCCMEAIoAQgkA8/LIABOwAKWIaZEkAAAAASUVORK5CYII=);
  font-family: "Roboto", sans-serif;
  color: #629c44;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media print {
    body {
      background: transparent; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 2em; }

h2, h3 {
  color: #ebebeb; }

h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #7a7a7a; }

h1 {
  font-size: 28px;
  color: #92ff6e; }

h2 {
  font-size: 24.5px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 17.5px; }

h5 {
  font-size: 15.75px; }

h6 {
  font-size: 14px; }

p {
  text-align: left;
  line-height: 1; }

blockquote {
  color: #ebebeb;
  margin: 14px 42px;
  padding: 7px 7px 7px 14px;
  border-left: 3.5px solid #ebebeb;
  font-style: italic;
  -webkit-border-radius: 0 14px 14px 0;
          border-radius: 0 14px 14px 0; }

a {
  text-indent: 0;
  color: #ebebeb;
  text-decoration: none; }
  a:hover {
    color: #92ff6e; }

section {
  display: inline-block;
  margin: 0;
  padding: 0; }

/************ MAIN STYLES *************/
#wrapper {
  width: 100%; }

.container {
  width: -webkit-calc(100% - 16px);
  width: calc(100% - 16px);
  margin: 0 auto; }
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .container {
      width: 740px; } }
  @media screen and (min-width: 1201px) and (max-width: 1600px) {
    .container {
      width: 960px; } }
  @media screen and (min-width: 1601px) and (max-width: 1919px) {
    .container {
      width: 1420px; } }
  @media screen and (min-width: 1920px) {
    .container {
      width: 1800px; } }

#working-field {
  margin: 2em auto;
  height: -webkit-calc(100vh - 4em);
  height: calc(100vh - 4em);
  background: #aaa;
  -webkit-box-shadow: 0 1em 2em rgba(0, 0, 0, 0.6);
          box-shadow: 0 1em 2em rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.fluid-row {
  display: block; }
  @media screen and (min-width: 589px) {
    .fluid-row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      margin: 0 auto; } }

.fluid-item {
  display: block;
  text-align: center;
  width: 240px;
  margin: 0 auto;
  padding-bottom: 28px;
  overflow-wrap: break-word; }
  @media screen and (min-width: 481px) {
    .fluid-item {
      width: 320px; } }
  @media screen and (min-width: 589px) {
    .fluid-item {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      -webkit-flex-basis: 180px;
          -ms-flex-preferred-size: 180px;
              flex-basis: 180px;
      margin: 0 7px;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } }
  @media screen and (min-width: 769px) {
    .fluid-item {
      margin: 0;
      padding: 28px 7px; } }

#topper {
  -webkit-flex-basis: 84px;
      -ms-flex-preferred-size: 84px;
          flex-basis: 84px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

#heading {
  background: #7a7a7a;
  -webkit-flex-basis: 42px;
      -ms-flex-preferred-size: 42px;
          flex-basis: 42px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.logininfo {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.avatar {
  width: 42px;
  height: 42px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.person {
  -webkit-flex-basis: 70px;
      -ms-flex-preferred-size: 70px;
          flex-basis: 70px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.person-name, .person-position {
  padding: 0 7px;
  outline: 1px dotted #92ff6e;
  display: block;
  height: 21px;
  line-height: 21px;
  color: #ebebeb;
  font-size: 21px; }

.person-position {
  font-size: 14px;
  color: #aaa; }

.impast {
  outline: 1px dotted red;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 42px; }

.manipulations {
  outline: 1px dotted #92ff6e;
  -webkit-flex-basis: 42px;
      -ms-flex-preferred-size: 42px;
          flex-basis: 42px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  height: 42px; }

#breadcrumbs {
  background: #606060;
  -webkit-flex-basis: 42px;
      -ms-flex-preferred-size: 42px;
          flex-basis: 42px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

#main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

#mainmenu {
  background: #606060;
  -webkit-flex-basis: 196px;
      -ms-flex-preferred-size: 196px;
          flex-basis: 196px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

#content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

#footer {
  background: #7a7a7a;
  -webkit-flex-basis: 28px;
      -ms-flex-preferred-size: 28px;
          flex-basis: 28px;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }
